#wrapper_background{
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    #timer{
        background: url("../img/home/red_background.png") repeat-x scroll center top transparent;
        display: block;
        height: 13px;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 10;
        #counter{
            background: url("../img/home/red_background.png") repeat-x scroll center bottom transparent;
            display: block;
            height: 13px;
            left: 0;
            position: relative;
            top: 0;
            width: 0;
            z-index: 11;
        }
    }
    figure{
        display: none;
        height: 100%;
        position: absolute;
        top:0;
        width: 100%;
        z-index: 5;
        img{
            height: 100% !important;
            width: 100%;
        }
    }
    .current{ display: block; }
}
.wrapper{
    display: block;
    margin: 0 auto;
    position: relative;
    width: 1024px;
}
#header{
    height: 352px;
    position: absolute;
    top: 0;
    header{
        background: url("../img/home/black_background.png") repeat scroll left top transparent;
        border-color: transparent transparent #BD1E2D transparent;
        border-style: none none solid none;
        border-width: 0 0 6px 0;
        display: inline-block;
        height: 239px;
        position: absolute;
        top: 87px;
        width: 455px;
        z-index: 10;
        figure{
            display: block;
            margin: 0 auto;
            padding: 55px 0 28px;
            width: 370px;
            #logo{
                left: -63px;
                position: absolute;
                top: -42px;
            }
            img{}
        }
        p{
            @include font-mask( #FFF, em( 16, 16 ), em( 24, 16 ), normal );
            box-sizing: border-box;
            display: block;
            height: 53px;
            margin: 0 auto;
            padding: 0 10%;
            text-align: center;
            text-overflow: ellipsis;
            overflow: hidden;
            width: 100%;
        }
        a{
            background: url('../img/home/arrows.png') no-repeat scroll 0 0 transparent;
            bottom: -26px;
            display: inline-block;
            height:48px;
            position: absolute;
            width:48px;
        }
        .left{ left: 326px; }
        .right{
            background-position:-48px 0px;
            left: 374px;
        }
    }
}
#nav{
    background: #000;
    height: 55px;
    left: 0;
    width: 100%;
    z-index: 10;
    nav{
        display: block;
        height: 50px;
        margin: 0 auto;
        position: relative;
        width: 1024px;
        z-index: 10;
        ul{
            height: 100%;
            margin: 0;
            padding: 0;
            position: absolute;
            right: 0;
            width: 660px;
            li{
                float: left;
                list-style: none outside;
                margin: 0;
                padding: 0 25px 0 35px;
                a{
                    @include font-mask( #FFF, em( 13, 16 ), em( 55, 12 ), normal );
                    text-decoration: none;
                }
            }
            .notices{
                
                a{
                    color: #BD1E2D;
                    font-weight: bold;
                }
            }
            .active{ 
                background: url("../img/home/indicator.png") no-repeat scroll center bottom #BD1E2D;
                border-color: transparent transparent #DFDFDF transparent;
                border-style: none none solid none;
                border-width: 0 0 3px 0;
                height: 53px;
            }
            .notices.active{
                
                a{ color: #FFF; }
            }
            .search{
                padding:0 0 0 35px;
                a{
                    background: url("../img/home/magnifier.png") no-repeat scroll 0 0 transparent;
                    display: block;
                    height: 16px;
                    margin:1.6em 0 0;
                    text-indent: -2000em;
                    width: 12px;
                }
            }
        }
    }
}
.white{ background: #FFF; }
.light_grey{ background: #F4F4F4; }
.dark_grey{ background: #E0E0E0; }
.black{ background: #000; }
.section{
    display: block;
    width: 100%;
    section{}
    .information{
        display: block;
        height: 100%;
        margin: 0 auto;
        width: 1024px;
    }
}
.disclaimers{
    float: right;
    margin: 0;
    padding: 0;
    li{
        float: left;
        list-style: none inside;
        margin: 0;
        padding: 0 10px;
        a{
            @include font-mask( #FFF, em( 12, 16 ), em( 39, 12 ), normal );
            display: block;
            margin: 0;
            opacity: 1;
            padding: 0;
            text-align: center;
            text-decoration: none;
            &.alert_trigger{ cursor: pointer; }
        }
        p{
            @include font-mask( #FFF, em( 12, 16 ), em( 39, 12 ), normal );
            display: block;
            margin: 0;
            padding: 0;
            text-align: center;
        }
    }
}
.social_media_links{
    display: none;
    margin: 0;
    padding: 0;
    li{
        background: url("../img/home/social_media_images.png") no-repeat scroll 0 0 transparent;
        float: left;
        height: 30px;
        list-style: none inside;
        margin: 0 5px 0 0;
        padding: 0;
        width: 30px;
        a{
            display: block;
            height: 100%;
            text-indent: -2000em;
            width: 100%;
        }
    }
    .facebook_profile{
        
        a{}
    }
    .twitter_profile{
        background-position: -35px 0;
        a{}
    }
    .google_profile{
        background-position: -67px 0;
        a{}
    }
}
#privacy-policy{
    height: 1085px;
    left: 50% !important;
    margin: 0 0 0 ( -700px / 2 );
    position: absolute !important;
    width: 700px;
    div{
        pointer-events: none;
        p, ol, ol li, ul, ul li, strong{
            margin: 15px auto;
            padding: 0;
            pointer-events: none;
            width: 100%;
            &::selection, &::-moz-selection{
                background-color: transparent;
            }
        }
        p{

            a{
                pointer-events: auto;
            }
        }
        ol, ul{

            li{
                list-style-position: inside;
            }
        }
    }
}
.intern{
    
    #nav{
        position: relative;
        nav{
            
            ul{
                
                li{
                    
                    a{}
                }
                .active{
                    
                    a{}
                }
                .notices{
                    
                    a{}
                }
                .search{
                    
                    a{}
                }
            }
        }
    }
    #footer{
        
        #thick{
            @extend .light_grey;
            display: block;
            height: 32px;
            width: 100%;
        }
        footer{
            height: 39px;
            margin: 0 auto;
            width: 1024px;
            .contact_ways{
                display: inline-block;
                margin: 0;
                padding: 0;
                li{
                    float: left;
                    display: inline-block;
                    list-style: none inside;
                    margin: 0;
                    padding: 0 23px 0 0;
                    p, a{
                        @include font-mask( #FFF, em( 12, 16 ), em( 40, 12 ), normal );
                        display: block;
                        margin: 0;
                        padding: 0;
                    }
                    p{ }
                    a{ text-decoration: none; }
                }
                .title_footer{
                    padding: 0 23px 0 0;
                    p{ color: #FFF; text-transform: uppercase; }
                }
            }
            .social_media_links{
                float: right;
                padding: 9px 68px 0 0;
                li{
                    background: url("../img/prometa/social_media_images.png") no-repeat scroll 0 0 transparent;
                    float: left;
                    height: 22px;
                    list-style: none inside;
                    margin: 0 2px 0 0;
                    padding: 0;
                    width: 22px;
                    a{
                        display: block;
                        height: 100%;
                        text-indent: -2000em;
                        width: 100%;
                    }
                }
                .facebook_profile{ width: 20px; }
                .twitter_profile{ background-position: -22px 0; }
                .google_profile{
                    background-position: -45px 0;
                    margin: 0;
                }
            }
        }
    }
}
hr{
    border-color: #DFDFDF transparent transparent transparent;
    border-style: solid none none none;
    border-width: 1px 0 0 0;
    display: block;
    height: 1px;
    margin: 0;
    padding: 0;
}
#home{
    overflow: hidden;
    #header{
        
        header{
            
            h1{ display: none; }
            div{
                height: 65px;
                overflow: hidden;
                article{
                    display: none;
                    height: 65px;
                    position: absolute;
                    width: 100%;
                    p{}
                    &.current{ display: block; }
                }
            }
        }
    }
    #nav{
        position: absolute;
    }
    #contact_title{
        height: 155px;
        position: relative;
        .information{
            
            img{
                display: block;
                float: left;
                margin: 0;
                padding: 42px 0 0;
                vertical-align: top;
            }
        }
    }
    #contact_description{
        height: 75px;
        .information{
            
            h2{ display: none; }
            p{
                @include font-mask( #000, em( 13, 16 ), em( 78, 12 ), normal );
                margin: 0;
                padding: 0;
                text-align: center;
            }
        }
    }
    #contact_form{
        
        .information{
            padding: 0 0 0 55px;
            width: 969px;
            form{
                float: left;
                padding: 67px 0 0;
                position: relative;
                width: 278px;
                z-index: 5;
                fieldset{
                    
                    legend{
                        @include font-mask( #b2b2b2, em( 16.28, 16 ), em( 16.29, 16.28 ), normal );
                        margin: 0;
                        padding: 0 0 13px;
                        span{ color: #FFF; }
                    }
                    div{
                        position: relative;
                        .error{
                            @include font-mask( $red, em( 13, 16 ), em( 20, 13 ), normal );
                            background: #FFF;
                            clear: both;
                            display: block;
                            margin: 0;
                            padding: 5px 0;
                            position: absolute;
                            right: -315px;
                            text-align: left;
                            text-indent: 10px;
                            top:0;
                            width: 310px;
                        }
                    }
                    .input{
                        
                        input[type="text"], textarea{
                            border: 0 none transparent;
                            @include font-mask( #5C5A58, em( 13, 16 ), em( 13, 13 ), normal );
                            height: em( 28, 13);
                            margin: 0 0 14px; 
                            text-indent: em( 10, 13 );
                            width: 100%;
                        }
                        input[placeholder],
                        ::-moz-placeholder,/* firefox 19+ */
                        input:-moz-placeholder {
                            color: #5C5A58;
                            text-overflow: ellipsis;
                        }
                        .selector{}
                        #uniform-contact_area{
                            cursor: pointer;
                            position: relative;
                            span{
                                @include font-mask( #5C5A58, em( 13, 16 ), em( 30, 13 ), normal );
                                background: url("../img/home/select_background.png") no-repeat scroll 130px center #FFF;
                                cursor: pointer;
                                display: table;
                                clear: both;
                                height: em( 30, 16 );
                                margin: 0 0 17px;
                                position: relative;
                                text-indent: em( 10, 13 );
                                width: 160px !important;
                                z-index: 0;
                            }
                            select{
                                display: table;
                                height: 30px;
                                opacity: 0;
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 160px;
                                z-index: 1;
                            }
                            .error{ right: -478px; }
                        }
                        textarea{ 
                            height: 179px; 
                            margin: 0 0 22px; 
                            padding: em( 10, 13 );
                            text-indent: 0;
                            resize: none;
                            width: 260px;
                        }
                        .alert_trigger{
                            @include font-mask( #FFF, em( 13, 16 ), em( 30, 16 ), bold );
                            cursor: pointer;
                            display: block;
                            float: left;
                            opacity: 1;
                            filter: alpha(opacity = 1);
                        }
                        #contact_submit{
                            @include font-mask( #FFF, em( 13, 16 ), em( 13, 16 ), bold );
                            background: #bb2131;
                            border: 0 none transparent;
                            color: #FFF;
                            float: right;
                            height: 30px;
                            text-align: center;
                            width: 120px;
                        }
                    }
                }
            }
            #contact_map_wrapper{
                display: block;
                float: left;
                padding: 38px 0 0 48px;
                position: relative;
                width: 586px;
                z-index: 0;
                p{
                    @include font-mask( #b2b2b2, em( 13, 16 ), em( 13, 13 ), normal );
                    display: block;
                    margin: 0;
                    padding: 0 0 18px;
                }
                #contact_map{
                    display: block;
                    width: 100%;
                    .white{
                        height: 79px;
                        p{
                            @include font-mask( #5C5A58, em( 40.23, 16 ), em( 95, 40.23 ), normal );
                            background: url("../img/home/pointer.png") no-repeat scroll 553px 32px transparent;
                            text-indent: 27px;
                            strong{
                                color: $red;
                                font-weight: bold;
                            }
                        }
                        img{}
                    }
                    .light_grey{
                        height: 63px;
                        p{
                            @include font-mask( #5C5A58, em( 13, 16 ), em( 13, 13 ), normal );
                            display: inline-block;
                            margin: 0;
                            padding: 18px 0 0;
                            span{ color: $red; }
                        }
                        #location{
                            float: left;
                            padding-left: 25px;
                            span{}
                        }
                        #location_specification{
                            float: right;
                            padding-right: 16px;
                            text-align: right;
                            span{}
                        }
                    }
                    #map{
                        display: block;
                        height: 304px;
                        width: 586px;
                    }
                }
                #contact_information{
                    padding: 19px 0 0;
                    .social_media_links{
                        
                        li{
                            
                            a{}
                        }
                        .facebook_profile{
                            
                            a{}
                        }
                        .twitter_profile{
                            
                            a{}
                        }
                        .google_profile{
                            
                            a{}
                        }
                    }
                    p{
                        @include font-mask( #FFF, em( 13, 16 ), em( 13, 13 ), normal );
                        color: #FFF;
                        float: right;
                        text-align: right;
                        text-transform: uppercase;
                        a{ 
                            color: #FFF;
                            display: block;
                            line-height: em( 25, 13 );
                            text-decoration: none;
                            text-transform: lowercase;
                        }
                        span{ color: $red; }
                    }
                }
            }
        }
    }
    #footer{
        height: 98px;
        padding: 15px 0 0;
        position: relative;
        width: 100%;
        footer{
            display: block;
            margin: 0 auto;
            width: 1024px;
            img{}
            .energy_team_footer_logo{
                float: left;
                padding: 0 0 0 55px;
            }
            .pro_meta_footer_logo{
                float: right;
                padding: 0 50px 0 0;
            }
        }
    }
    .alert_background{
        height: 2054px !important;
    }
}
#pro-meta{
    
    #pro-meta_title{
        
        .information{
            padding:32px 55px 0;
            width: 914px;
            img{
                padding: 0 0 42px;
                vertical-align: top;
            }
            h1{
                @include font-mask( #000, em( 21, 16 ), em( 22, 21 ), normal );
                margin: 0;
                padding: 0 0 30px;
                text-align: center;
                span{ color: $red; }
            }
            hr{ width: 100%; }
            p{
                @include font-mask( #000, em( 13, 16 ), em( 13, 13 ), normal );
                margin: 0;
                padding: 27px 0 0;
                text-align: center;
                span{ font-size: em( 21, 13 ); line-height: em( 21, 21 ); }
            }
            ul{
                display: block;
                height: 29px;
                margin: 19px auto 0;
                padding: 0 0 40px;
                width: 685px;
                li{
                    @include font-mask( #000, em( 13, 16 ), em( 29, 13 ), normal );
                    background: url("../img/prometa/bullet.png") no-repeat scroll 0 0 transparent;
                    display: inline-block;
                    float: left;
                    list-style: none inside;
                    margin: 0;
                    padding: 0;
                    text-indent: 51px;
                }
                #design{ padding: 0 25px 0 0; }
                #strategies{ background-position:0 -28px; padding: 0 43px 0 0; }
                #manage{ background-position:0px -55px; }
            }
        }
    }
    #pro-meta_description{
        
        .information{
            ul{
                display: block;
                margin: 0 auto 37px;
                padding: 22px 0 0 10px;
                width: 857px;
                li{
                    display: inline-block;
                    float: left;
                    list-style: none inside;
                    margin: 0;
                    width: 208px;
                    img{}
                    h2{
                        @include font-mask( $red, em( 21, 16 ), em( 16, 21 ), normal );
                        display: block;
                        text-align: center;
                        margin: 0;
                        padding: 30px 0 21px;
                    }
                    hr{
                        width: 100%;
                    }
                    p{
                        @include font-mask( #000, em( 13, 16 ), em( 16, 13 ), normal );
                        margin: 0;
                        padding: 20px 0 0;
                        text-align: center;
                    }
                }
                #mission{ padding: 0 114px 0 0; }
                #vision{ padding: 0 119px 0 0; }
                #values{}
            }
        }
    }
    #pro-meta_clients{
        
        .information{
            
            h2{
                @include font-mask( $red, em( 30.5, 16 ), em( 30.5, 30.5 ), bold );
                display: block;
                letter-spacing: 21px;
                margin: 0 auto;
                padding: 53px 0 40px;
                text-align: center;
                text-transform: uppercase;
            }
            p{
                @include font-mask( $text_gray, em( 21, 16 ), em( 25, 21 ), normal );
                display: block;
                margin: 0 auto;
                padding: 0 0 65px;
                text-align: center;
                width: em( 870, 21 );
            }
        }
    }
    #pro-meta_clients_logo{
        
        .information{
            
            ul{
                display: block;
                margin: 0 auto;
                padding: 0 0 15px;
                width: 918px;
                li{
                    float: left;
                    height: 100%;
                    list-style: none inside;
                    margin: 0;
                    padding: 0;
                    width: (918px / 4);
                    a{
                        display: block;
                        height: 100%;
                        opacity: 1;
                        img{}
                    }
                    hr{
                        background: url("../img/prometa/divider.png") no-repeat scroll 0 0 transparent;
                        border: 0 none transparent;
                        display: inline-block;
                        height: 1px;
                        width: 238px;
                    }
                }
                .left_divider{
                    
                    a{
                        
                        img{}
                    }
                    hr{
                        float: right;
                    }
                }
                .right_divider{
                    
                    a{
                        
                        img{}
                    }
                    hr{
                        float: left;
                    }
                }
            }
        }
    }
    #footer{
        margin: 107px 0 0;
        .information{
            
        }
    }
    .alert_background{
        min-height: 1503px;
    }
    #rubros{
        height: 525px;
        left: 50% !important;
        margin: 0 0 0 ( -700px / 2 );
        width: 700px;
        img{
            height: 100%;
            pointer-events: none;
            width: 100%;
        }
    }
}
#services{
    
    #services_title{
        
        .information{
            padding: 38px 0 37px;
            hr{ display:block; margin: 0 auto; width: 917px; }
            h1{
                @include font-mask( $red, em( 29.58, 16 ), em( 61, 29.58 ), bold );
                margin: 0;
                text-align: center;
            }
            ul,dl{
                display: block;
                margin: 0 auto;
                padding: 0 0 17px;
                li,dt,dd{
                    @include font-mask( #000, em( 15, 16 ), em( 22.5, 15 ), bold );
                    list-style: none inside;
                    margin: 5px 0;
                    text-align: center;
                    span{ color: $red; }
                }
                dd{ font-weight: normal; }
            }
        }
    }
    .consultancy{ background: url("../img/services/banner_energia.jpg") repeat-x scroll 0 0 transparent; }
    .eficiency{ background: url("../img/services/banner_consulting.jpg") repeat-x scroll 0 0 transparent; }
    .services_subtitle{
        background-size: 100% 100%;
        .information{
            height: 215px;
            .items{
                height: 100%;
                position: relative;
                width: 2000em;
                div{
                    float: left;
                    height: 77px;
                    margin: 0;
                    max-width: 1970px;
                    padding: 87px 0 51px;
                    width: 960px;
                    h2,h3{
                        display: block;
                        margin: 0;
                        padding: 0;
                        width: 100%;
                    }
                    h2{
                        @include font-mask( #FFF, em( 50, 16 ), em( 35, 50 ), normal );
                        padding: 0 0 24px;
                        text-align: center;
                    }
                    h3{
                        @include font-mask( #FFF, em( 21, 16 ), em( 17, 21 ), normal );
                        text-align: center;
                        strong{
                            clear: both;
                            color: #FFF;
                            display: block;
                            margin: 10px 0;
                        }
                    }
                    ul{
                        display: block;
                        margin: 0 auto 5px;
                        padding: 0 0 0 20px;
                        width: 365px;
                        li{
                            @include font-mask( #FFF, em( 18, 16 ), em( 21, 28 ), normal );
                            margin: 5px 0;
                            text-align: left;
                            strong{
                                clear: both;
                                color: #FFF;
                                display: block;
                                margin: 10px 0;
                            }
                        }
                    }
                }
            }
        }
        .scrollable{ overflow:hidden; }
    }
    #services_descriptions{
        position: relative;
        .information{
            background: url("../img/services/linea_servicios.png") no-repeat scroll center center transparent;
            overflow: hidden;
            width: 880px;
            a.browser{
                background: url("../img/home/arrows.png") no-repeat scroll 0 0px transparent;
                cursor: pointer;
                display: inline-block;
                height:30px;
                position: absolute;
                top: 30px;
                width:19px;
            }
            .prev{ background-position:-100px 0px !important; left: 31px; }
            .next{ background-position:-119px 0px !important; right: 31px; }
            .disabled{ display: none !important; }
            .items{
                height: 567px;
                margin: 0 auto;
                padding: 30px 0 0;
                position: relative;
                width: 2000em;
                div{
                    float: left;
                    height: 100%;
                    width: 880px;
                    ul{
                        display: block;
                        min-height: 108px;
                        margin: 0 auto;
                        padding: 0;
                        width: 880px;
                        li{
                            background: url("../img/services/short_line.png") no-repeat scroll right center transparent;
                            float: left;
                            min-height: 108px;
                            list-style: none inside;
                            padding: 0 0 em( 25, 16 );
                            position: relative;
                            width: 33.3%;
                            &:last-child{ background: none; }
                            &:nth-child( 0n + 3 ){ background: none; }
                            h4{
                                @include font-mask( $red, em( 21, 16 ), em( 21, 21 ), normal );
                                display: block;
                                margin: 0 auto;
                                padding: 0 74px;
                                text-align: center;
                                width: 140px;
                                span{ color: #BBB; }
                            }
                            ul{
                                display: block;
                                min-height: 0 !important;
                                margin: 0 auto;
                                padding: 10px  0 0 34px;
                                width: 155px;
                                li{
                                    @include font-mask( #000, em( 13, 16 ), em( 15, 12 ), normal );
                                    background: url("../img/services/bullet.png") no-repeat scroll 0 3px transparent !important;
                                    clear: both;
                                    float: none;
                                    min-height: 0 !important;
                                    list-style: none outside;
                                    margin: 0;
                                    padding: 0 0 0 10px;
                                    position: static;
                                    text-align: left;
                                    width: 100%;
                                }
                            }
                            span{
                                @include font-mask( #000, em( 13, 16 ), em( 15, 12 ), normal );
                                display: block;
                                margin: 10px auto 0;
                                width: 80%;
                            }
                            .more_information{
                                background: url("../img/home/arrows.png") no-repeat scroll -138px 0px transparent;
                                bottom: 0;
                                cursor: pointer;
                                display: inline-block;
                                height:15px;
                                position: absolute;
                                right: 10px;
                                width:14px;
                            }
                            p,h5{
                                @include font-mask( #000, em( 13, 16 ), em( 16, 16 ), bold );
                                display: block;
                                text-align: center;
                                margin: 0;
                                padding: 10px 34px 0;
                                width: 220px;
                                strong{}
                            }
                            .aditional{ padding: 0 34px; }
                            .content{
                                
                                li{}
                            }
                        }
                    }
                    #continue{
                        display: block;
                        margin: 0 auto;
                        padding: 35px 0 0;
                        width: 576px;
                        li{
                            width:288px;
                        }
                    }
                }
                #consultancy{
                    
                    h4{
                        text-transform: unset;
                        width: 170px;
                    }
                    ul{ 
                        height: 240px;
                        >li {
                            min-height: 200px !important;
                            span{}
                            ul{
                                height: auto;
                                .double{ height: 31px; }
                                li{ min-height: inherit !important; }
                            }
                        }
                    }
                }
                #services_of_energy{
                    
                    $consultancy_categories: 4;
                    h4{
                        padding: 0 5%;
                        width: 90%;
                    }
                    ul{
                        min-height: em( 148, 16 ) !important;
                        li{
                            list-style: none inside;
                            margin: 0;
                            min-height: em( 127, 16 ) !important;
                            width: 880px / $consultancy_categories;
                            ul{
                                margin: 0;
                                min-height: em( 0, 16 ) !important;
                                padding: 0;
                                width: 100%;
                                li{
                                    background: none !important;
                                    list-style: none inside;
                                    margin: 10px 0;
                                    padding: 0;
                                    min-height: em( 0, 16 ) !important;
                                }
                            }
                            .large_title{ padding: 0 5%; width: 200px; }
                        }
                    }
                    img{
                        display: block;
                        margin: 0 auto;
                    }
                    .distribuitors,
                    .presentation_links{
                        display: inline-block;
                        height: 21px;
                        margin: 13px 20px 13px 0;
                        width: 50%;
                        p{
                            @include font-mask( $text_gray, em( 13, 16 ), em( 21, 13 ), normal );
                            margin: 0;
                        }
                    }
                    .distribuitors{
                        text-align: left;
                        p{ float: left; width: auto !important; }
                        a{
                            float: left;
                            margin: 0 0 0 20px;
                            img{}
                        }
                    }
                    .presentation_links{
                        float: right;
                        height: auto;
                        p{ float: right; }
                        ul{
                            clear: both;
                            display: block;
                            float: right;
                            height: 100% !important;
                            margin: 0;
                            min-height: 21px !important;
                            padding: 0;
                            width: auto;
                            li{
                                background: none;
                                clear: both;
                                display: block;
                                float: none !important;
                                height: 21px;
                                margin: 0 5px;
                                min-height: 21px !important;
                                padding: 0;
                                text-align: right;
                                width: auto !important;
                                a{ @include font-mask( $red, em( 13, 16 ), em( 13, 13 ), normal ); }
                            }
                        }
                    }
                }
            }
        }
        .scrollable{ overflow:hidden; }
    }
    #services_references{
        
        .information{
            
            p{
                @include font-mask( #000, em( 13, 16 ), em( 70, 13 ), normal );
                display: block;
                margin: 0 auto;
                padding: 0;
                text-align: center;
                width: 917px;
            }
            hr{
                display: block;
                margin: 0 auto;
                width: 1024px;
            }
            img{ float: right; padding: 35px 52px 0 0; }
        }
    }
}