[[$head]]

    <body id="home" class="clearfix">
        <div id="wrapper_background" class="clearfix">
            <div id="timer" class="clearfix">
                <div id="counter" class="clearfix"></div>
            </div>
[[!getResources? 
    &parents=`1`
    &tplPath=`[[++assets_path]]../Code/chunks/`
    &tpl=`@FILE background-images-item.html`
    &includeTVs=`1`
    &processTVs=`1`
    &tvPrefix=``
    &showUnpublished=`1`
    &showHidden=`1`
    &includeContent=`0`
 ]]
        </div>
        <div class="wrapper clearfix" id="header">
            <header>
                <figure class="page">
                    <img src="[[++site_url]]assets/img/home/logo.png" alt="logo" width="132" height="80" id="logo" />
                    <img src="[[++site_url]]assets/img/home/prometa_logo.png" width="370" height="68" alt="Pro-Meta" />
                </figure>
                <h1>[[*longtitle]]</h1>
                <div>
[[!getResources?
    &parents=`1`
    &tplPath=`[[++assets_path]]../Code/chunks/`
    &tpl=`@FILE content-home-item.html`
    &includeTVs=`1`
    &processTVs=`1`
    &tvPrefix=``
    &showUnpublished=`1`
    &showHidden=`1`
    &includeContent=`1`
 ]]
                </div>
                <a href="" class="left" title="Anterior"></a>
                <a href="" class="right" title="Siguiente"></a>
            </header>
        </div>
[[$navigation]]
        <div class="wrapper section light_grey clearfix" id="contact_title">
            <section class="information">
                <img src="[[++site_url]]assets/img/prometa/prometa_logo_interna.png" alt="Pro-Meta Soluciones" width="400" height="78">
            </section>
        </div>
        <div class="wrapper section white clearfix" id="contact_description">
            <section class="information">
                <h2>[[*contactFormTitle]]</h2>
                <p>[[*contactFormDescription]]</p>
            </section>
        </div>
        <div class="wrapper section black clearfix" id="contact_form">
            <section class="information">
                <form action="Code/snippets/controller.php?action=contact" method="post" accept-charset="utf-8" name="contact_us_form">
                    <fieldset>
                        <legend>Notifica en <span>correo electrónico</span></legend>
                        <div class="input">
                            <input id="contact_name" type="text" name="contact_name" placeholder="Nombre" value="Nombre" />
                        </div>
                        <div class="input">
                            <input id="contact_business" type="text" name="contact_business" placeholder="Empresa" value="Empresa" />
                        </div>
                        <div class="input">
                            <input id="contact_phone" type="text" name="contact_phone" placeholder="Teléfono" value="Teléfono" />
                        </div>
                        <div class="input">
                            <input id="contact_mail" type="text" name="contact_mail" placeholder="Email" value="Email" />
                        </div>
                        <div class="input">
                            <select name="contact_area" id="contact_area">
                                <option value="">Área de interés</option>
                                <option value="Eficiencia energética">Eficiencia energética</option>
                                <option value="Consultoria">Consultoria</option>
                            </select>
                        </div>
                        <div class="input">
                            <textarea id="contact_message" name="contact_message" placeholder="Mensaje" value="Mensaje"></textarea>
                        </div>
                        <div class="input clearfix">
                            <a title="Aviso de Privacidad" rel="#privacy-policy" class="alert_trigger">Aviso de Privacidad</a>
                            <input id="contact_submit" type="submit" name="contact_submit" value="Enviar" />
                        </div>
                    </fieldset>
                </form>
                <div id="contact_map_wrapper">
                    <p>[[*mapDescription]]</p>
                    <div id="contact_map">
                        <article class="white">
                            <p>Encuéntranos <strong>aquí</strong></p>
                            <img src="" width="" height="" alt="" />
                        </article>
                        <article class="light_grey">
                            <p id="location">[[*mapDirection]]</p>
                            <p id="location_specification">[[*mapDirectionSpecifications]]</p>
                        </article>
                        <article id="map"></article>
                    </div>
                    <div id="contact_information">
                        <ul class="social_media_links">
                            <li class="facebook_profile">
                                [[*urlFacebook]]
                            </li>
                            <li class="twitter_profile">
                                [[*urlTwitter]]
                            </li>
                            <li class="google_profile">
                                [[*urlGoogle]]
                            </li>
                        </ul>
                        <p>Contáctanos <a href="mailto:[[*contactMail]]" title="info@pro-meta.com.mx" target="_blank">info@pro-meta.com.mx</a> <span>[[*contactPhone]]</span></p>
                    </div>
                </div>
            </section>
        </div>
        <div class="wrapper black clearfix" id="footer">
            <footer>
                <a href="http://www.energyteam.mx/" title="Energy Team" target="_blank">
                    <img src="[[++site_url]]assets/img/home/logo_prometa_contacto.png" alt="Pro-Meta Logo" width="167" height="32" class="pro_meta_footer_logo" />
                </a>
            </footer>
        </div>
[[$alert-box]]
[[$privacy_policy_alert]]

[[$html-end-home]]