<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="es" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="es" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="es" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="es" class="no-js"> <!--<![endif]-->
    <head>
        <title>..::Pro-Meta :: Pro-Meta ::..</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=11,IE=edge,chrome=1" />
        <meta http-equiv="pragma" content="no-cache" />
        <meta name="description" content="" />
        <meta name="robots" content="all" />
        
        <meta name="viewport" content="width=device-width, initial-scale=0.8, user-scalable=yes" />
        
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
        <link rel="shortcut icon" href="favicon.png" type="image/png" />
        
        <link rel="stylesheet" href="css/main.css" type="text/css" media="screen" />
        
        <script type="text/javascript" src="js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body id="pro-meta">
        <div class="wrapper" id="nav">
            <nav>
                <ul>
                    <li class="active">
                        <a href="/index.html" title="Home">HOME</a>
                    </li>
                    <li>
                        <a href="/pro-meta.html" title="Pro-Meta">PRO-META</a>
                    </li>
                    <li>
                        <a href="/servicios.html" title="Servicios">SERVICIOS</a>
                    </li>
                    <li>
                        <a href="/contacto.html" title="Contacto">CONTACTO</a>
                    </li>
                    <li class="notices">
                        <a href="/noticias.html" title="Noticias">NOTICIAS</a>
                    </li>
                    <li class="search">
                        <a title="Buscar">Buscar</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="wrapper section light_grey" id="pro-meta_title">
            <section class="information">
                 <img src="img/home/pro_meta_soluciones_small.png" alt="Pro-Meta Soluciones" width="457" height="80" />
                 <h1>Pro-Meta soluciones es una <span>firma de consultoría</span>, entretenimiento e implementación de soluciones <br />comerciales para empresas <span>B2B</span>.</h1>
                 <p><span>A</span>yudamos a nuestros clientes a crear valor por medio de soluciones a la medida con base a las industrias y mercados en los que participan.</p>
                 <ul>
                     <li id="design">
                         Diseño y planificación comercial
                     </li>
                     <li id="strategies">
                         Estrategias y métodos de venta
                     </li>
                     <li id="manage">
                         Gestión comercial
                     </li>
                 </ul>
            </section>
        </div>
        <div class="wrapper section white" id="pro-meta_description">
            <section class="information">
                <ul>
                    <li>
                        <img src="" width="" height="" alt="Misión" />
                        <h2>Misión</h2>
                        <p>Satisfacer a nuestros clientes brindándoles Soluciones innovadoras de alto valor agregado a través de Tecnología de vanguardia.</p>
                    </li>
                    <li>
                        <img src="" width="" height="" alt="Visión" />
                        <h2>Visión</h2>
                        <p>Ser líderes nacionales en la gestión de procesos de Demolición Controlada y Aplicaciones Tecnológicas Espaciales para los sectores de la Construcción, Energía y Recursos Naturales beneficiando a nuestros clientes con soluciones eficientes y rentables, en el respeto de la seguridad de las personas y del medio ambiente.</p>
                    </li>
                    <li>
                        <img src="" width="" height="" alt="Valores" />
                        <h2>Valores</h2>
                        <p>Determinación, Cumplimiento de compromiso, Calidad de servicio, Relaciones.</p>
                    </li>
                </ul>
            </section>
        </div>
        <div class="wrapper" id="footer">
            <div id="thick"></div>
            <footer>
                <ul class="contact_ways">
                    <li class="title_footer">
                        <p>Contáctanos</p>
                    </li>
                    <li>
                        <a href="mailto:hello@prometa.com" title="hello@prometa.com" target="_blank">hello@prometa.com</a>
                    </li>
                    <li>
                        <p>(720) 907-3833</p>
                    </li>
                </ul>
                <ul class="social_media_links">
                    <li class="facebook_profile">
                        <a href="" title="Fan Page de Pro-Meta en Facebook" target="_blank">Fan Page de Pro-Meta en Facebook</a>
                    </li>
                    <li class="twitter_profile">
                        <a href="" title="Pro-Meta en Twitter" target="_blank">Pro-Meta en Twitter</a>
                    </li>
                    <li class="google_profile">
                        <a href="" title="Perfil de Pro-Meta en Google+" target="_blank">Perfil de Pro-Meta en Google+</a>
                    </li>
                </ul>
            </footer>
        </div>
        <script type="text/javascript" src="js/vendor/jquery-1.8.3.min.js"></script>
        <script type="text/javascript" src="js/plugins-ck.js"></script>
        <script type="text/javascript" src="js/main.js"></script>
    </body>
</html>