<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="es" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="es" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="es" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="es" class="no-js"> <!--<![endif]-->
    <head>
        <title>..::Pro-Meta :: Servicios ::..</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=11,IE=edge,chrome=1" />
        <meta http-equiv="pragma" content="no-cache" />
        <meta name="description" content="" />
        <meta name="robots" content="all" />
        
        <meta name="viewport" content="width=device-width, initial-scale=0.8, user-scalable=yes" />
        
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
        <link rel="shortcut icon" href="favicon.png" type="image/png" />
        
        <link rel="stylesheet" href="css/main.css" type="text/css" media="screen" />
        
        <script type="text/javascript" src="js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body id="services" class="intern">
        <div class="wrapper" id="nav">
            <nav>
                <ul>
                    <li class="active">
                        <a href="/index.html" title="Home">HOME</a>
                    </li>
                    <li>
                        <a href="/pro-meta.html" title="Pro-Meta">PRO-META</a>
                    </li>
                    <li>
                        <a href="/servicios.html" title="Servicios">SERVICIOS</a>
                    </li>
                    <li>
                        <a href="/index.html#contact_title" title="Contacto">CONTACTO</a>
                    </li>
                    <li class="notices">
                        <a href="/noticias.html" title="Noticias">NOTICIAS</a>
                    </li>
                    <li class="search">
                        <a title="Buscar">Buscar</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="wrapper section light_grey" id="services_title">
            <section class="information">
                <hr />
                <h1>Servicios</h1>
                <ul>
                    <li><span>Desarrollo</span> de relaciones directas y provechosas con clientes y proveedores</li>
                    <li><span>Enfoque</span> en sectores de mercados donde podamos ser líder</li>
                    <li><span>Respeto</span> por el individuo y el medio ambiente</li>
                </ul>
                <hr />
            </section>
        </div>
        <div class="wrapper section" id="services_subtitle">
            <section class="information scrollable">
                <div class="items">
                    <div>
                        <h2>Servicios para Construcciones</h2>
                        <h3>Servicio para constructores <strong>demoliciones controladas</strong></h3>
                    </div>
                    <div>
                        <h2>Consultoría</h2>
                        <h3>Soporte elaboración/revisión <strong>estrategia medio plazo</strong></h3>
                    </div>
                    <div>
                        <h2>Servicios de energía</h2>
                        <h3>Servicio de energía <strong>sistemas de monitoreo y manejo</strong></h3>
                    </div>
                </div>
            </section>
        </div>
        <div class="wrapper section white" id="services_descriptions">
            <section class="information scrollable">
                <a title="Anterior" class="browser prev"></a>
                <div class="items">
                    <div>
                        <ul>
                            <li>
                                <h4>Demolición Controlada</h4>
                                <ul>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                </ul>
                                <a title="" class="more_information"></a>
                            </li>
                            <li>
                                <h4>Detección</h4>
                                <p>Planificación comercial y optimización de recursos en base al potencial del mercado y clientes</p>
                                <a title="" class="more_information"></a>
                            </li>
                            <li>
                                <h4>Perforación</h4>
                                <p>Estrategia de desarrollo y retención de clientes.</p>
                                <p>Programas de lealtad de clientes.</p>
                                <a title="" class="more_information"></a>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <h4>Fijaciones</h4>
                                <p>Planificación comercial y optimización de recursos en base al potencial del mercado y clintes</p>
                                <a title="" class="more_information"></a>
                            </li>
                            <li>
                                <h4>Cortafuego</h4>
                                <p>Planificación comercial y optimización de recursos en base al potencial del mercado y clientes</p>
                                <a title="" class="more_information"></a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        
                    </div>
                    <div>
                        <ul>
                            <li>
                                <h4>Energía Eléctrica</h4>
                                
                                <a title="" class="more_information"></a>
                            </li>
                            <li>
                                <h4></h4>
                                
                                <a title="" class="more_information"></a>
                            </li>
                            <li>
                                <h4></h4>
                                
                                <a title="" class="more_information"></a>
                            </li>
                            <li>
                                <h4></h4>
                                
                                <a title="" class="more_information"></a>
                            </li>
                            <li>
                                <h4></h4>
                                
                                <a title="" class="more_information"></a>
                            </li>
                            <li>
                                <h4></h4>
                                
                                <a title="" class="more_information"></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <a title="Siguiente" class="browser next"></a>
            </section>
        </div>
        <div class="wrapper section light_grey" id="services_references">
            <section class="information">
                <p>Texto simulado, referencias para servicios y productos de PROMETA</p>
                <hr />
                <img src="img/services/logo_prometa_servicios.png" alt="Logo Pro-Meta" width="128" height="25" />
            </section>
        </div>
        <div class="wrapper section black" id="footer">
            <div id="thick"></div>
            <footer>
                <ul class="contact_ways">
                    <li class="title_footer">
                        <p>Contáctanos</p>
                    </li>
                    <li>
                        <a href="mailto:hello@prometa.com" title="hello@prometa.com" target="_blank">hello@prometa.com</a>
                    </li>
                    <li>
                        <p>(720) 907-3833</p>
                    </li>
                </ul>
                <ul class="social_media_links">
                    <li class="facebook_profile">
                        <a href="" title="Fan Page de Pro-Meta en Facebook" target="_blank">Fan Page de Pro-Meta en Facebook</a>
                    </li>
                    <li class="twitter_profile">
                        <a href="" title="Pro-Meta en Twitter" target="_blank">Pro-Meta en Twitter</a>
                    </li>
                    <li class="google_profile">
                        <a href="" title="Perfil de Pro-Meta en Google+" target="_blank">Perfil de Pro-Meta en Google+</a>
                    </li>
                </ul>
            </footer>
        </div>
        <script type="text/javascript" src="js/vendor/jquery-1.8.3.min.js"></script>
        <script type="text/javascript" src="js/plugins-ck.js"></script>
        <script type="text/javascript" src="js/main.js"></script>
    </body>
</html>