<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="es" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="es" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="es" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="es" class="no-js"> <!--<![endif]-->
    <head>
        <title>..:: [[++site_name]] :: [[*pagetitle]] ::..</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=11,IE=edge,chrome=1" />
        <meta http-equiv="pragma" content="no-cache" />
        <meta name="description" content="" />
        <meta name="robots" content="all" />
        
        <meta name="viewport" content="width=device-width, initial-scale=0.8, user-scalable=yes" />
        
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
        <link rel="shortcut icon" href="favicon.png" type="image/png" />
        
        <link rel="stylesheet" href="[[++site_url]]css/main.css" type="text/css" media="screen" />
        
        <script type="text/javascript" src="[[++site_url]]js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    
    <body id="services" class="intern">
        <div class="wrapper" id="nav">
            <nav>
                <ul>
                    <li class="active">
                        <a href="[[++site_url]][[~1]]" title="Home" target="_self">HOME</a>
                    </li>
                    <li>
                        <a href="[[++site_url]][[~2]]" title="Pro-Meta" target="_self">PRO-META</a>
                    </li>
                    <li>
                        <a href="[[++site_url]][[~3]]" title="Servicios" target="_self">SERVICIOS</a>
                    </li>
                    <li>
                        <a href="#" title="Contacto">CONTACTO</a>
                    </li>
                    <li class="notices">
                        <a href="[[++site_url]][[~4]]" title="Noticias" target="_self">NOTICIAS</a>
                    </li>
                    <li class="search">
                        <a href="#"  title="Buscar">Buscar</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="wrapper section light_grey" id="services_title">
            <section class="information">
                <hr />
                <h1>Servicios</h1>
                <ul>
                    <li><span>Desarrollo</span> de relaciones directas y provechosas con clientes y proveedores</li>
                    <li><span>Enfoque</span> en sectores de mercados donde podamos ser líder</li>
                    <li><span>Respeto</span> por el individuo y el medio ambiente</li>
                </ul>
                <hr />
            </section>
        </div>
        <div class="wrapper section" id="services_subtitle">
            <section class="information scrollable">
                <div class="items">
                    <div>
                        <h2>Servicios para Construcciones</h2>
                        <h3>Servicio para constructores <strong>demoliciones controladas</strong></h3>
                    </div>
                    <div>
                        <h2>Consultoría</h2>
                        <h3>Soporte elaboración/revisión <strong>estrategia medio plazo</strong></h3>
                    </div>
                    <div>
                        <h2>Servicios de energía</h2>
                        <h3>Servicio de energía <strong>sistemas de monitoreo y manejo</strong></h3>&nbsp;
                    </div>
                </div>
            </section>
        </div>
        <div class="wrapper section white" id="services_descriptions">
            <section class="information scrollable">
                <a title="Anterior" class="browser prev"></a>
                <div class="items">
                    <div id="services_for_constructions">
                        <ul>
                            <li>
                                <h4>Demolición Controlada</h4>
                                <ul>
                                    <li>Tips de demolicion</li>
                                    <li>Tradicional no controlada</li>
                                    <li>Demolizione Controllata</li>
                                </ul>
                                <a title="Más Información" class="more_information"></a>
                            </li>
                            <li>
                                <h4>Detección</h4>
                                <p>Planificación comercial y optimización de recursos en base al potencial del mercado y clientes</p>
                                <a title="Más Información" class="more_information"></a>
                            </li>
                            <li>
                                <h4>Perforación</h4>
                                <p>Estrategia de desarrollo y retención de clientes.</p>
                                <p class="aditional">Programas de lealtad de clientes.</p>
                                <a title="Más Información" class="more_information"></a>
                            </li>
                        </ul>
                        <ul id="continue">
                            <li>
                                <h4>Fijaciones</h4>
                                <p>Planificación comercial y optimización de recursos en base al potencial del mercado y clientes</p>
                                <a title="Más Información" class="more_information"></a>
                            </li>
                            <li>
                                <h4>Cortafuego</h4>
                                <p>Planificación comercial y optimización de recursos en base al potencial del mercado y clientes</p>
                                <a title="Más Información" class="more_information"></a>
                            </li>
                        </ul>
                    </div>
                    <div id="consultancy">
                        <ul>
                            <li>
                                <h4>Estrategias de Alcance</h4>
                                <ul>
                                    <li>Base de datos</li>
                                    <li>Información de mercado</li>
                                    <li>Estructura de precios</li>
                                    <li>Ejecución de ventas</li>
                                    <li>Prospección</li>
                                    <li>Adquisición</li>
                                    <li>Concexión</li>
                                    <li>Desarrollo</li>
                                    <li>Sustento</li>
                                </ul>
                                <a title="Más Información" class="more_information"></a>
                            </li>
                            <li>
                                <h4>Benchmarking</h4>
                                <p>Planificación comercial y optimización de recursos en base al potencial del mercado y clientes</p>
                                <p><strong>Diagnostico comercial:</strong></p>
                                <ul class="content">
                                    <li>Canales de distribución</li>
                                    <li>Fuerza de ventas propia</li>
                                    <li class="double">Influencia procesos áreas de soporte</li>
                                </ul>
                                <a title="Más Información" class="more_information"></a>
                            </li>
                            <li>
                                <h4>Automatización Comercial <span>(CRM)</span></h4>
                                <p>Estrategia de desarrollo y retención de clientes. <br />Programas de lealtad de clientes</p>
                                <p><strong>Diseño de fuerza de ventas:</strong></p>
                                <ul class="content">
                                    <li>Perfil de vendedores</li>
                                    <li>Estructura y organización</li>
                                    <li>Modelos de compensación</li>
                                    <li>Zonificación</li>
                                    <li class="double">Cálculos de participación de mercado y cartera</li>
                                </ul>
                                <a title="Más Información" class="more_information"></a>
                            </li>
                        </ul>
                    </div>
                    <div id="services_of_energy">
                        <ul>
                            <li>
                                <h4>Energía Eléctrica</h4>
                                <ul>
                                    <li>Sistemas de telelectura prelievi energia per fornitori/Consorzi e per axiende multisito.</li>
                                </ul>
                                <a title="Más Información" class="more_information"></a>
                            </li>
                            <li>
                                <h4>Agua y Calor</h4>
                                <ul>
                                    <li>Sistemas de monitoreo de prelievi globales y parciales.</li>
                                    <li>Medidores de flujo y herramientas para medir agua.</li>
                                </ul>
                                <a title="Más Información" class="more_information"></a>
                            </li>
                            <li>
                                <h4>Fotovoltaico</h4>
                                <ul>
                                    <li>Sistemas de medición y control a 360&#730; de la eficiencia de las plantas.</li>
                                </ul>
                                <a title="Más Información" class="more_information"></a>
                            </li>
                            <li>
                                <h4>Gas Natural</h4>
                                <ul>
                                    <li>Sistemas de monitoreo</li>
                                    <li>Señalación de alarmas</li>
                                </ul>
                                <a title="Más Información" class="more_information"></a>
                            </li>
                            <li>
                                <h4>Aire Comprimido</h4>
                                <ul>
                                    <li>Audit Aire Comprimido</li>
                                    <li>Evaluación ratio kW/m3 y relativo costo</li>
                                </ul>
                                <a title="Más Información" class="more_information"></a>
                            </li>
                            <li>
                                <h4>Telecontrol</h4>
                                <ul>
                                    <li>Sistemas de inteligencia distribuida</li>
                                    <li>Sistemas para la relevacione y transmisión de alarmas.</li>
                                </ul>
                                <a title="Más Información" class="more_information"></a>
                            </li>
                        </ul>
                        <img src="[[++site_url]]img/services/energy_team_negro.png" alt="Logo Energy Team" width="132" height="21" />
                    </div>
                </div>
                <a title="Siguiente" class="browser next"></a>
            </section>
        </div>
        <div class="wrapper section light_grey" id="services_references">
            <section class="information">
                <p>Texto simulado, referencias para servicios y productos de PROMETA</p>
                <hr />
                <img src="[[++site_url]]img/services/logo_prometa_servicios.png" alt="Logo Pro-Meta" width="128" height="25" />
            </section>
        </div>
        <div class="wrapper section black" id="footer">
            <div id="thick"></div>
            <footer>
                <ul class="contact_ways">
                    <li class="title_footer">
                        <p>Contáctanos</p>
                    </li>
                    <li>
                        <a href="mailto:info@pro-meta.com.mx" title="info@pro-meta.com.mx" target="_blank">info@pro-meta.com.mx</a>
                    </li>
                    <li>
                        <p>(720) 907-3833</p>
                    </li>
                </ul>
                <ul class="disclaimers">
                    <li>
                        <a href="[[++site_url]]aviso-de-privacidad.html" title="Aviso de Privacidad" target="_blank">Aviso de Privacidad</a>
                    </li>
                    <li>
                        <p>Pro-Meta 2014 - Todos los Derechos Reservados</p>
                    </li>
                </ul>
            </footer>
        </div>
        
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script type="text/javascript">window.jQuery || document.write('<script type="text/javascript" src="[[++site_url]]js/vendor/jquery-1.8.3.min.js"><\/script>')</script>
        <script type="text/javascript" src="[[++site_url]]js/plugins-ck.js"></script>
        <script type="text/javascript" src="[[++site_url]]js/main.js"></script>
        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>
    </body>
</html>