div.wrapper.section.black#footer
    div#thick
    footer
        ul.contact_ways
            li.title_footer
                p. Contáctanos
            li
                a(href="mailto:info@pro-meta.com.mx" title="info@pro-meta.com.mx" target="_blank"). info@pro-meta.com.mx
            li
                p. (720) 907-3833
        ul.disclaimers
            li
                a(href="aviso-de-privacidad.html" title="Aviso de Privacidad" target="_blank"). Aviso de Privacidad
            li
                p. Pro-Meta 2014 - Todos los Derechos Reservados