div.wrapper#nav
    nav
        ul
            li.active
                a(href="index.html" title="Home"). HOME
            li
                a(href="pro-meta.html" title="Pro-Meta"). PRO-META
            li
                a(href="servicios.html" title="Servicios"). SERVICIOS
            li
                a(href="index.html#contact_title" title="Contacto"). CONTACTO
            //li.notices
                //a(href="noticias.html" title="Noticias"). NOTICIAS
            li.search
                a(title="Buscar"). Buscar