include head
    
    body#pro-meta.intern
        include navigation
        div.wrapper.section.light_grey#pro-meta_title
            section.information
                img(src="img/prometa/prometa_logo_interna.png" alt="Pro-Meta Soluciones" width="400" height="78")
                h1. Pro-Meta soluciones es una <span>firma de consultoría</span>, entretenimiento e implementación de soluciones <br />comerciales para empresas <span>B2B</span>.
                hr
                p. <span>A</span>yudamos a nuestros clientes a crear valor por medio de soluciones a la medida con base a las industrias y mercados en los que participan.
                ul
                    li#design. Diseño y planificación comercial
                    li#strategies. Estrategias y métodos de venta
                    li#manage. Gestión comercial
        div.wrapper.section.white#pro-meta_description
            section.information
                ul
                    li#mission
                        img(src="img/prometa/mision.png" alt="Misión" width="208" height="208")
                        h2. Misión
                        hr
                        p. Satisfacer a nuestros clientes brindándoles Soluciones innovadoras de alto valor agregado a través de Tecnología de vanguardia.
                    
                    li#vision
                        img(src="img/prometa/vision.png" alt="Visión" width="201" height="202")
                        h2. Visión
                        hr
                        p. Ser líderes nacionales en la gestión de procesos de Demolición Controlada y Aplicaciones Tecnológicas Espaciales para los sectores de la Construcción, Energía y Recursos Naturales beneficiando a nuestros clientes con soluciones eficientes y rentables, en el respeto de la seguridad de las personas y del medio ambiente.
                    
                    li#values
                        img(src="img/prometa/valores.png" alt="valores" width="201" height="202")
                        h2. Valores
                        hr
                        p. Determinación, Cumplimiento de compromiso, Calidad de servicio, Relaciones.
        div.wrapper.section.light_grey#pro-meta_clients
            section.information
                h2. Clientes
                p. Esto es un texto inventado, falta la información sobre los clientes. Somos socios estratégicos de KP2, el mayor distribuidor mundial de Miller Herman, una de las formas líderes en el mundo en efectividad comercial.
        div.wrapper.section.dark_grey#pro-meta_clients_logo
            section.information
                ul
                    li.left_divider
                        a(href="" title="" target="_blank")
                            img(src="img/prometa/logo-uno.png" alt="logo-uno" width="306" height="143")
                        hr
                    li
                        a(href="" title="" target="_blank")
                            img(src="img/prometa/logo-dos.png" alt="logo-dos" width="306" height="143")
                    li.right_divider
                        a(href="" title="" target="_blank")
                            img(src="img/prometa/logo-tres.png" alt="logo-tres" width="306" height="143")
                        hr
                    li
                        a(href="" title="" target="_blank")
                            img(src="img/prometa/logo-cuatro.png" alt="logo-cuatro" width="306" height="143")
                    li
                        a(href="" title="" target="_blank")
                            img(src="img/prometa/logo-cinco.png" alt="logo-cinco" width="306" height="143")
                    li
                        a(href="" title="" target="_blank")
                            img(src="img/prometa/logo-seis.png" alt="logo-seis" width="306" height="143")
        include inner_footer
    include footer