doctype html
//[if lt IE 7]>      <html lang="es" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]
//[if IE 7]>         <html lang="es" class="no-js lt-ie9 lt-ie8"> <![endif]
//[if IE 8]>         <html lang="es" class="no-js lt-ie9"> <![endif]
//[if gt IE 8]><!
html(lang="es" class="no-js") <!--<![endif]-->
    include head
    
    body#services.intern
        include inner_navigation
        div.wrapper.section.light_grey#services_title
           section.information
                hr
                h1. Servicios
                ul
                    li
                        <span>Desarrollo</span> de relaciones directas y provechosas con clientes y proveedores
                    li
                        <span>Enfoque</span> en sectores de mercados donde podamos ser líder
                    li
                        <span>Respeto</span> por el individuo y el medio ambiente
                hr
        div.wrapper.section#services_subtitle
           section.information.scrollable
                div.items
                    div
                        h2. Servicios para Construcciones
                        h3. Servicio para constructores <strong>demoliciones controladas</strong>
                    div
                        h2. Consultoría
                        h3. Soporte elaboración/revisión <strong>estrategia medio plazo</strong>
                    div
                        h2. Servicios de energía
                        h3. Servicio de energía <strong>sistemas de monitoreo y manejo</strong>&nbsp;
        div.wrappersection.white#services_descriptions
           section.information.scrollable
                a(title="Anterior").browser.prev
                div.items
                    div#services_for_constructions
                        ul
                            li
                                h4. Demolición Controlada
                                ul
                                    li. Tips de demolicion
                                    li. Tradicional no controlada
                                    li. Demolizione Controllata
                                a(title="Más Información").more_information
                            li
                                h4. Detección
                                p. Planificación comercial y optimización de recursos en base al potencial del mercado y clientes
                                a(title="Más Información").more_information
                            li
                                h4. Perforación
                                p. Estrategia de desarrollo y retención de clientes.
                                p.aditional. Programas de lealtad de clientes.
                                a(title="Más Información").more_information
                        ul#continue
                            li
                                h4. Fijaciones
                                p. Planificación comercial y optimización de recursos en base al potencial del mercado y clientes
                                a(title="Más Información").more_information
                            li
                                h4. Cortafuego
                                p. Planificación comercial y optimización de recursos en base al potencial del mercado y clientes
                                a(title="Más Información").more_information
                    div#consultancy
                        ul
                            li
                                h4. Estrategias de Alcance
                                ul
                                    li. Base de datos
                                    li. Información de mercado
                                    li. Estructura de precios
                                    li. Ejecución de ventas
                                    li. Prospección
                                    li. Adquisición
                                    li. Concexión
                                    li. Desarrollo
                                    li. Sustento
                                a(title="Más Información").more_information
                            li
                                h4. Benchmarking
                                p. Planificación comercial y optimización de recursos en base al potencial del mercado y clientes
                                p. <strong>Diagnostico comercial:</strong>
                                ul.content
                                    li. Canales de distribución
                                    li. Fuerza de ventas propia
                                    li.double. Influencia procesos áreas de soporte
                                a(title="Más Información").more_information
                            li
                                h4. Automatización Comercial <span>(CRM)</span>
                                p. Estrategia de desarrollo y retención de clientes. <br />Programas de lealtad de clientes
                                p. <strong>Diseño de fuerza de ventas:</strong>
                                ul.content
                                    li. Perfil de vendedores
                                    li. Estructura y organización
                                    li. Modelos de compensación
                                    li. Zonificación
                                    li.double. Cálculos de participación de mercado y cartera
                                a(title="Más Información").more_information
                    div#services_of_energy
                        ul
                            li
                                h4. Energía Eléctrica
                                ul
                                    li. Sistemas de telelectura prelievi energia per fornitori/Consorzi e per axiende multisito.
                                
                                a(title="Más Información").more_information
                            li
                                h4. Agua y Calor
                                ul
                                    li. Sistemas de monitoreo de prelievi globales y parciales.
                                    li. Medidores de flujo y herramientas para medir agua.
                                a(title="Más Información").more_information
                            li
                                h4. Fotovoltaico
                                ul
                                    li. Sistemas de medición y control a 360&#730; de la eficiencia de las plantas.
                                a(title="Más Información").more_information
                            li
                                h4. Gas Natural
                                ul
                                    li. Sistemas de monitoreo
                                    li. Señalación de alarmas
                                a(title="Más Información").more_information
                            li
                                h4. Aire Comprimido
                                ul
                                    li. Audit Aire Comprimido
                                    li. Evaluación ratio kW/m3 y relativo costo
                                a(title="Más Información").more_information
                            li
                                h4. Telecontrol
                                ul
                                    li. Sistemas de inteligencia distribuida
                                    li. Sistemas para la relevacione y transmisión de alarmas.
                                a(title="Más Información").more_information
                        img(src="img/services/energy_team_negro.png" alt="Logo Energy Team" width="132" height="21")
                a(title="Siguiente").browser.next
        div.wrapper.section.light_grey#services_references
           section.information
                p. Texto simulado, referencias para servicios y productos de PROMETA
                hr
                img(src="img/services/logo_prometa_servicios.png" alt="Logo Pro-Meta" width="128" height="25")
        include inner_footer
    include footer